body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:bisque;

}
body {
  animation: changeBg 30s infinite;
}

@keyframes changeBg {
  0% {
    background-color: bisque;
  }
  20% {
    background-color: #a98585;
  }
  40% {
    background-color: #864d4d;
  }
  60%
  {
    background-color: #9d9c9c;
  }
  80%
  {
    background-color: beige;
  }
  100%
  {
    background-color: bisque;
  }
}
header
{
  font-size: 50px;
  font-weight: bold;
  right: 50;
}
fieldset
{
  border: 50;
  border-radius: 50px;
  box-shadow: 0 0 5px #9d9c9c;
  border-color: #864d4d;
}

h1 {
  text-align: center;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  margin: 20px;
 
}

.food-item {
  padding: 10px;
  border: 1px solid #121212;
  border-radius: 10px;
  box-shadow: 0 0 5px #9d9c9c;
  text-align: center;
}
.food-item:hover {
  animation: changeBg 0.5s infinite;

}

@keyframes changeBg {
  0% {
    background-color: bisque;
  }
  20% {
    background-color: #a98585;
  }
  40% {
    background-color: #864d4d;
  }
  60%
  {
    background-color: #9d9c9c;
  }
  80%
  {
    background-color: beige;
  }
  100%
  {
    background-color: bisque;
  }
}

.food-item img {
  display: block;
  margin: 0 auto 10px;
}
.food-item img:hover
{
  transform: scale(1.0) translate(-15px);
}

.food-item h2 {
  margin: 0;
  font-size: 24px;
}

.food-item p {
  margin: 10px 0 0;
  font-size: 16px;
}

footer
{
    margin-top: 70px;
}
footer .social
{
    position: absolute;
    align-items: center;
    margin-left: 610px;
    /* top: 4500px; */
    z-index: 10;
    top: 2200px;
    display: flex;
    justify-content: center;
    border-color: #111;
    
}

footer .social li
{
    list-style: none;

}
footer .social li a{
    display: inline-block;
    filter:invert(1) ;
    margin-right: 20px;
    align-items: baseline;
    transform: scale(0.5);
    transition: 0.5s;
    
}
.social li a:hover
{
    transform: scale(0.5) translate(-15px);
}
