body{
    margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
    background-color: aquamarine;


}
fieldset
{
    border-width: 50%;
    border-style:ridge;
    border-color: aqua;
}